<!DOCTYPE html>
<html>
<head>
  <title>RailsconftutorialsBeeper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="<%= content_for(:wrapper_id) %>">
  <div class="container">
    <div class="clearfix">
      <div class="pull-right">
        <p>
          <%= link_to 'Log Out', login_path, method: :delete, class: 'btn' %>
        </p>
      </div>

      <% flash.each do |key, value| %>
        <div class="alert"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </div>
  </div>

</body>
</html>
